<div class="club-access-wrapper">

    <div class="club-access-avatar">
        <img 
        [src]="imageBaseUrl+'Ticket.svg'" 
        alt="club access ticket image"
        >
    </div>

    <div class="club-info">
        <div class="club-ticket-info">
            <span>Access the Club.</span>
    
            <span>
                Join our exclusive Discord community,<br/>
                where collectors enjoy unique benefits,<br/>
                insider news, and early access to <br/>
                upcoming golden Robot collections.
            </span>
    
            <div class="learn-more-button">
                <button>Learn More</button>
            </div>
        </div>
    </div>

    
</div>