@import '../../../../common-variables.scss';

.robots-collections-wrapper{
    display: flex;
    flex-direction: column;
    background: rgba(22, 22, 48, 0.5);

    .robots-collections-title{
        text-align: center;
        @include header-style(60px);
        color: $default-text-color;
        padding-bottom: 20px;
    }

    .robots-collections{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        flex-grow: 1;
        flex: 1;
    }
}

